<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
    </head>
    <body>
        <h1>Nikola</h1>

        <p>
            Nikola je car!
        </p>

        <a href="{{ url_for('index') }}">Go back</a> <!--fja url_for pravi link ka index.html -->
        <br>
        <a href="{{ url_for('more1') }}">more</a> <!--fja url_for pravi link ka more.html -->
        <br>
        <a href="{{ url_for('bio') }}">Nikola</a> <!--fja url_for pravi link ka bio.html -->
    </body>
</html>
